<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar py-4 navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder" href="#">< Suhail /></a> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ps-4" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link active ps-2" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active ps-4" href="#">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ps-4" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active ps-4">Work</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-home></app-home>
<router-outlet></router-outlet>
