<div class="text-center">
    <div class="mt-5 row">
        <div class="font-monospace container mt-5 fs-2 p-5 col">
            <span class="fw-bolder fs-1">Hi, I'm Suhail</span><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, tempora saepe fugit magni ipsam ex maxime
            veniam, possimus neque ab ipsa cumque deserunt esse eum. Enim dicta atque nulla voluptatem.
        </div>
        <div class="col">
            <img src="../../assets/profile.png" alt="MyPic">
        </div>
    </div>
</div>
<app-skills></app-skills>